/* General styles */
* {
  font-family: Cascadia Code;
  padding: 1.2%;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  text-align: center;
  background-color: rgb(45, 44, 44);
}

h1 {
  color: white;
  margin: 30px 0 40px 0;
  font-size: 36px;
  font-weight: bold;
}

/* Search bar and button */

input[type="text"] {
  padding: 20px;
  font-size: 16px;
  width: 50%;
  border-radius: 20px;
}

button {
  padding: 20px 30px;
  font-size: 16px;
  background-color: #ffffff;
  color: #333333;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

/* Characters information */

#characterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  padding: 50px;
  border-radius: 50px;
}

#characterContainer > div {
  background-color: white;
  padding: 20px;
  margin: 20px;
  width: calc(33.33% - 40px);
  justify-content: center;
  border-radius: 25px;
}

div > img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 20px;
}

#characterContainer > div > h1, h2 {
  color: #333333;
  font-size: 16px;
  line-height: 1;
}

/* Responsive */
@media screen and (max-width: 768px) {
  #characterContainer > div > h1, h2 {
    font-size: 20px;
  }
  #characterContainer > div {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: calc(50% - 40px);
    justify-content: center;
    border-radius: 25px;
  }
}

@media screen and (max-width: 526px) {
  #characterContainer > div > h1, h2 {
    font-size: 16px;
  }
  #characterContainer > div {
    background-color: white;
    padding: 10px;
    width: 100%;
    justify-content: center;
    border-radius: 25px;
  }
}